@media screen and (max-width: 800px) {
  .rcw-widget-container {
    /* height: 100%;
    height: 100vh;
    margin: 0;
    max-width: none;
    width: 100%; */
  }

  .chat-toggle {
    margin: 5px 46px !important;
  }

  .rcw-conversation-container > .rcw-header {
    background-color: #1e2c37 !important;
    height: 60px;
  }
  .chat-web-seachbar {
    margin-top: 5px !important;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background: #13212d;
    border: 1px solid #344452;
    border-radius: 6px;
    padding-inline-start: 20px;
    font-size: 14px;
    color: #b3bad1;
    line-height: 17px;
    font-weight: 500;
  }
  .save-web-button {
    margin-top: 2px;
    margin-inline-start: 10px;
    background-color: #11ffbd;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 12px;
    border-color: #11ffbd;
    outline: none !important;
    border: none;
    font-weight: 600;
    font-size: 14px;
  }
}

.chat_card {
  position: fixed;
  background: #1e2c37;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 0px 0px 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  height: 100%;
  width: 100%;
}

.chat-web-innertext {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #0b1823;
  border-radius: 6px;
  padding: 20px;
  gap: 10px;
  margin-inline-end: 2px;
  margin-inline-start: 2px;
}

.userchat-web-innertext {
  margin-inline-end: 2.5px;
  margin-inline-start: 2px;
  background: #344452;
  border-radius: 6px;
  padding: 15px;
  gap: 10px;
}

.chat-inner-web-left-text {
  font-weight: 700;
  font-size: 10px;
  color: #b3bad1;
}

.chat-inner-web-right-text {
  font-size: 10px;
  font-weight: 400;
  color: #b3bad1;
}

.chat-massage-web-inner-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  /* Ultrafair - White  */

  color: #ffffff;
}

.chat-web-seachbar {
  margin-top: 5px !important;
  width: 100%;
  height: 45px;
  left: 0px;
  top: 0px;
  background: #13212d;
  border: 1px solid #344452;
  border-radius: 6px;
  padding-inline-start: 20px;
  font-size: 14px;
  color: #b3bad1;
  line-height: 17px;
  font-weight: 500;
}

input::placeholder {
  color: #b3bad1 !important;
  opacity: 1;
}

.save-web-button {
  margin-top: 2px;
  margin-inline-start: 10px;
  background-color: #11ffbd;
  padding: 10px !important;
  /* padding-top: 16px !important;
  padding-bottom: 16px !important;
  padding-left: 20px !important;
  padding-right: 20px !important; */
  border-radius: 12px;
  border-color: #11ffbd;
  outline: none !important;
  border: none;
  font-weight: 600;
  font-size: 14px;
}

.chat-Web-topbar {
  min-height: 78px;
  width: 33vw;
  right: 0px;
  top: 0px;
  /* margin-bottom: 20px; */
  /* Ultrafair - Dark 150  */

  background-color: transparent;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.form-control-dropdown-topbar-web {
  /* background-color: #191919 !important;  */
  border: none !important;
  /* background: #191919 !important;  */
  height: 46px;
  position: relative;
  color: white;
  background: #1e2c37;
  width: 10vw;
  font-size: 18px;
  outline: none;
  border-radius: 6px;
  padding-bottom: 2px;
  -webkit-margin-start: 5px;
  margin-inline-start: 5px;
}
.chatWebCard {
  width: 25vw !important;
  height: 90vh !important;
  /* float: right !important; */
  z-index: 99 !important;
}

/**************Antd modal **************************/

.ant-modal-content {
  width: 30vw !important;
  height: 100vh;
  float: right !important;
  background-color: #13212d !important;
  display: flex !important;
  flex-direction: column !important;
}
@media (max-width: 800px) {
  .ant-modal-content {
    width: 100vw !important;
    height: 80vh;
    top: 20vh;
    float: right !important;
    background-color: #13212d !important;
    display: flex !important;
    flex-direction: column !important;
  }
}

.ant-modal-header {
  background-color: #1e2c37 !important;
  padding: 0.5rem !important;
  border-bottom-color: #1e2c37 !important;
  /* position: fixed !important; */
}
.ant-modal-body {
  overflow-y: scroll !important;
}
.ant-modal {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  pointer-events: none;
  position: relative;
  top: 0px !important;
  width: auto;
  /* max-width: calc(100vw - 32px); */
  margin: 0 auto;
  padding-bottom: 0px !important;
  float: right !important;
}
.ant-modal-footer {
  background-color: #263642 !important;
  border-top-color: #1e2c37 !important;
}
.ant-modal-close {
  color: #ffffff !important;
  padding-top: 10px !important;
}
.ant-modal-wrap {
  overflow-x: hidden !important;
}
.ant-modal-body {
  height: 100vh !important;
}
