/* body {
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(187, 181, 211);
  display: flex;
  align-items: center;
  justify-content: center;
} */
.App {
    font-family: sans-serif;
    text-align: center;
  }
  .slider-parent {
    /* top: 50vh;
      left: 50%; */
    position: relative;
  }
  .buble {
    position: absolute;
  }
  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
  }
  .value-container {
    margin-bottom: 25px;
  }
  #demo {
    color: rgb(143, 134, 180);
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .slider {
    width: 100%;
    background: linear-gradient(
      to right,
      #ef5b5b 0%,
      #ef5b5b 22.6%,
      white 22.6%,
      white 23%,
      #ef5b5b 23%,
      #ef5b5b 40.6%,
      white 40.6%,
      white 41%,
      #ef5b5b 41%,
      #ef5b5b 58.8%,
      white 58.8%,
      white 59%,
      #ef5b5b 59%,
      #ef5b5b 70%,
      #f7b32b 70%,
      #f7b32b 76.6%,
      white 76.6%,
      white 77%,
      #11ffbd 77%,
      #11ffbd 100%
    );
    height: 10px;
    transition: "background" 450ms ease-in;
    -webkit-appearance: none;
    border-radius: 25px;
    box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  }
  /* .block-red {
      height: 20px;
      left: 50%;
    } */
  
  .slider::-webkit-slider-thumb {
    margin-top: 36px;
    /* width: 0;
      height: 0;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 25px solid #555; */
    cursor: pointer;
    appearance: none;
    background: url("./Vector.png");
    height: 12px;
    width: 12px;
    background-size: contain;
    background-repeat: no-repeat;
  
    box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
  }
  .scale {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 500;
  }
  