/* REMOVE THIS, USE YOUR OWN  */
/* html, */
/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
} */

/* .dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
} */

/* STYLES SPECIFIC TO FOOTER  */
/* .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #0D1D29;
} */



.contain .col h1 {
    margin-bottom: 14px;
    padding: 0;
    font-family: inherit;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #FFFFFF;
    font-weight: normal;
    letter-spacing: 0.10em;
    font-weight: 700;
    font-size: 14px;
}

.contain .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contain .col ul li {
    color: #B3BAD1;
    font-family: inherit;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.contain .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain .col {
        width: 20%;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;
    }

    .contain {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }

    .contain .col {
        width: 20%;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;
    }

    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .contain .col {
        width: 20%;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;
    }

    .contain .col h1 {
        text-align: left;
        font-size: 14px;
    }

    .contain .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .contain .col-hide{
        float: none !important;
    }
    .contain .col {
        width: 50%;
    }

    .contain .col h1 {
        text-align: left;
        font-size: 14px;
    }

    .contain .col ul li {
        font-size: 13px;
    }
 
}

@media only screen and (max-width: 340px) {
    .contain .col {
        width: 100%;
    }
   
}

.linedesign {
    color: #999999 !important;
}

.mainfootertext {
    font-style: normal;
    font-weight: 420;
    font-size: 16px;
    line-height: 25px;
    /* or 250% */

    text-align: center;

    /* Ultrafair - Grey 100 */

    color: #B3BAD1;
}

.footertext {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    /* or 250% */

    text-align: center;

    /* Ultrafair - Grey 100 */

    color: #B3BAD1;
}

.laguagetext {
    color: #ffffff !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 17px;
}


