

@media screen and (min-width: 0px) and (max-width: 700px){

.headertop{
    margin-top: "17%"!important;
    height: "5%"!important;
}
.LOGOO{
    width: 14vw !important;
    height: 7vh!important;
    display: none !important;
}
.Headertitle{
    width: 45% !important;
    margin-top: 4% !important;
}
}
